/* Startsida */
body {
    margin: 0px;
}

.main_container {
    display: grid;
    grid-template-rows: 1fr 12fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    height: 150vh;
    grid-template-areas: 
    'hd hd hd'
    'mn mn mn'
    'ft ft ft';


}


header {
    grid-area: hd;
    display: flex;
    justify-content: space-around;
    align-content: center;
    background-color: green;
    position: fixed;
    width:100vw;
}


main {
    grid-area: mn;
    background-color: rgb(106, 232, 139);
}

.top_main {
    height: 70%;
    background-image: url("/img/diverse/thecafe.jpg");
}

.qoute {
    display: flex;
    flex-direction: column;
    align-items: center;    
}



.middle_main {
    display: flex;
    flex-direction: column;
    margin: 10px;

}

footer {
    grid-area: ft;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    background-color: rebeccapurple;
}

#bg_image {
    height: fit-content;
}

#logo_image {
    width: 300px;
    height: auto;
}

/* Om oss sidan */
.about_container {


}


.employee_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100vw;
    height: 100vh;
    grid-area: 
    'sec1 sec2 sec3'
    'sec4 sec5 sec6';

}

.section_image{
    height: 80%;
    width: 100%;
}


.sec1 {
    grid-area: sec1;
    
}

.sec2 {
    grid-area: sec1;
    
}

.sec3 {
    grid-area: sec1;
    
}

.sec4 {
    grid-area: sec1;
    
}

.sec5 {
    grid-area: sec1;
    
}

.sec6 {
    grid-area: sec1;
    
}

