body {
    margin: 0px;

}

.main_container {
    display: grid;
    grid-template-rows: 1fr 12fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    height: 150vh;
    grid-template-areas: 
    'hd hd hd'
    'mn mn mn'
    'ft ft ft';


}


header {
    grid-area: hd;
    display: flex;
    justify-content: space-around;
    align-content: center;
    background-color: green;
    position: fixed;
    width:100vw;
}

main {
    grid-area: mn;
    background-color: rgb(106, 232, 139);
}

.top_main {
    height: 70%;
    background-image: url("/img/diverse/thecafe.jpg");
}

.qoute {
    display: flex;
    flex-direction: column;
    align-items: center;    
}



.middle_main {
    display: flex;
    flex-direction: column;
    margin: 10px;

}

footer {
    grid-area: ft;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    background-color: rebeccapurple;
}

#bg_image {
    height: fit-content;
}

#logo_image {
    width: 300px;
    height: auto;
}
