/*Allmänt */
body {
    margin: 0px;
    background-color: #7bc671;

}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    grid-area: hd;
    display: flex;
    justify-content: space-around;
    align-content: center;
    background-color: black;
    position: fixed;
    top: 0;
    width:100%;
}


main {
    grid-area: mn;
    display: flex;
    flex-direction: column;
    height:100vh;
}


footer {
    grid-area: ft;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width:100%;
    background-image: url("/img/diverse/cool_green_bg.jpg");
}

#header_text {
    text-decoration: underline;
    color: white;
}

h1 {
}


/* Startsida */
.main_container {
    display: grid;
    grid-template-rows: 1fr 12fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 100vh;
    grid-template-areas: 
    'hd hd hd'
    'mn mn mn'
    'ft ft ft';
}


.top_main {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    background-image: url("/img/diverse/thecafe.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

.welcome_msg {
    display: flex;
    flex-direction: column;
}

#text_on_image {
    color: whitesmoke;
}


.mid_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #7bc671;
    height: 60%;
}

.reviews {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    
}

#bg_image {
    height: fit-content;
}

#logo_image {
    width: 300px;
    height: auto;
}

#footer_text {
    text-decoration: solid;
}

/* Om oss sidan */
.about_container {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    margin: 10px;
}

#title_text {
    text-align: center;
}

.employee_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100vw;
    height: fit-content;
    grid-area:
    'sec1 sec2 sec3'
    'sec4 sec5 sec6';

}


.animal_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: fit-content;

}


.section_image{
    height: 70%;
    width: 50%;
    border-radius: 60%;
}

.section_image_animal {
    height: 70%;
    width: 90%;

}

.sec1 {
    grid-area: sec1;
    
}

.sec2 {
    grid-area: sec2;
    
}

.sec3 {
    grid-area: sec3;
    
}

.sec4 {
    grid-area: sec4;
    
}

.sec5 {
    grid-area: sec5;
    
}

.sec6 {
    grid-area: sec6;
    
}

.sec7 {
    grid-area: sec7;
    
}

.sec8 {
    grid-area: sec8;
    
}

.sec9 {
    grid-area: sec9;
    
}


/* Meny sidan */
.menu_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    margin-left: 10px;

}

.menu_bg_image {
    background-image: url("/img/diverse/jungle_bg.jpg");
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.premeal {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    grid-template-areas:
    'sec1 sec2 sec3'
    'sec4 sec5 sec6';

}

.mainmeal {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    grid-template-areas:
    'sec1 sec2 sec3'
    'sec4 sec5 sec6'
    'sec7 sec8 sec9';
  
}

.aftermeal {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    grid-template-areas:
    'sec1 sec2 sec3';  
}


.menu_image {
    width: 50%;
    height: auto;
}